version: '3'
services:
    admin-front:
        container_name: front
        build: ./admin/front
        depends_on:
            - admin-back
        ports:
            - "8080:3000"
        volumes:
          - ./admin/front:/app
        restart: on-failure
    admin-back:
        container_name: back
        build: ./admin/back
        depends_on:
            - mongo
        networks:
            - back_net
        ports:
            - "28000:28000"
        restart: on-failure
    mongo:
        container_name: mongo
        image: mongo
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: adpass
        volumes:
            - db-data:/data/db
        networks:
            - back_net
        restart: on-failure
    mongo-express:
      image: mongo-express
      restart: always
      ports:
        - 8081:8081
      environment:
        ME_CONFIG_MONGODB_ADMINUSERNAME: admin
        ME_CONFIG_MONGODB_ADMINPASSWORD: adpass
      networks:
            - back_net
networks:
    back_net:
volumes:
    db-data: